# Inti Data Science
pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.2.0

# NLP untuk Bahasa Indonesia
Sastrawi>=1.0.1
nltk>=3.8.1

# Visualisasi & Dashboard
streamlit>=1.30.0
plotly>=5.10.0

# Web Scraping (Ekstraksi URL)
requests>=2.28.0
beautifulsoup4>=4.11.0

# Utils
joblib>=1.3.0
PyYAML>=6.0
PyYAML>=6.0
